<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Máy tính cao cấp, máy tính đồ họa, tuanhoanganh.vn</title>


    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!--ANIMATION.css vs WOW.JS-->
    <script th:src="@{/js/wow.js}"></script>
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!--JS CUSTOM-->
    <script th:src="@{/js/main.js}"></script>
    <!--CSS CUSTOM-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/flatsome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}">

</head>

<body>

    <div class="wrapper">
    <th:block th:if="${#request.userPrincipal != null}">
    <div class="row logged">

            <div class="col-9">
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <h5 th:utext="${#request.userPrincipal.name}"></h5>
                    </div>
                    <div class="col-6">
                        <a th:href="@{/logout}" title="Giỏ hàng" class="header-cart-link is-small">

                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </th:block>
        <!--HEADER-->
        <header id="header" class="header">
            <!--HEADER WRAPPER-->
            <div class="header-wrapper">
                <!--LOGO LCCH  HOTLINE DIACHI GIOHANG SEARCH-->
                <div id="masthead" class="header-main hide-for-sticky">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                             <a th:href="@{/showHomepage}"
                                title="Tân Thành Danh Computer - Máy tính cao cấp,máy tính đồ họa,ghế gaming,PC hi-end dựng phim,pc streaming"
                                rel="home">
                                <img width="198" height="127" th:src="@{/image/tuanhoanglogo.png}"
                                    class="header_logo header-logo" alt="Tân Thành Danh Computer"><img width="198"
                                    height="127" th:src="@{/image/tuanhoanglogo.png}" class="header-logo-dark"
                                    alt="Tân Thành Danh Computer"></a>
                        </div>
                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left
                          flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase">
                                <li class="header-block">
                                    <div class="header-block-block-1">
                                        <div class="row" id="row-1637041763">


                                            <div class="col div-no-padding medium-3 small-6 large-3">
                                                <div class="col-inner">




                                                    <a class="plain" th:href="@{/showhoadon}">
                                                    </a>
                                                    <div class="icon-box featured-box icon-box-left text-left"><a
                                                            class="plain"
                                                            th:href="@{/showhoadon}">
                                                            <div class="icon-box-img" style="width: 40px">
                                                                <div class="icon">
                                                                    <div class="icon-inner">
                                                                        <img width="55" height="54"
                                                                            src="https://tanthanhdanh.vn/wp-content/uploads/2019/07/icon1.png"
                                                                            class="attachment-medium size-medium"
                                                                            alt=""> </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="icon-box-text last-reset"><a class="plain"
                                                                th:href="@{/showhoadon}">


                                                            </a>
                                                            <h4><a class="plain"
                                                                    th:href="@{/showhoadon}"><span
                                                                        style="color: #008000;"></span></a><a
                                                                    style="color: #008000;"
                                                                    th:href="@{/showhoadon}">Xem hóa dơn</a></h4>
                                                            <p><a th:href="@{/showhoadon}">Tùy chỉnh hóa đơn</a></p>

                                                        </div>
                                                    </div>



                                                </div>
                                            </div>



                                            <div class="col div-no-padding div-hotline medium-4 small-6 large-4">
                                                <div class="col-inner">




                                                    <div class="icon-box featured-box icon-box-left text-left">
                                                        <div class="icon-box-img" style="width: 37px">
                                                            <div class="icon">
                                                                <div class="icon-inner">
                                                                    <img width="43" height="50"
                                                                        src="https://tanthanhdanh.vn/wp-content/uploads/2019/07/icon2.png"
                                                                        class="attachment-medium size-medium" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="icon-box-text last-reset">


                                                            <h4>Hotline</h4>
                                                            <p>Nhanh chóng - Dễ dàng<br><span
                                                                    style="color: #ff0000;"><strong>0941 852
                                                                        721</strong></span></p>

                                                        </div>
                                                    </div>



                                                </div>
                                            </div>



                                            <div class="col div-no-padding div-dia-chi medium-5 small-12 large-5">
                                                <div class="col-inner">




                                                    <a class="plain" href="https://goo.gl/maps/xrek3MUg7XsCfkka8"
                                                        target="_blank" rel="noopener noreferrer"> </a>
                                                    <div class="icon-box featured-box icon-box-left text-left"><a
                                                            class="plain" href="https://goo.gl/maps/xrek3MUg7XsCfkka8"
                                                            target="_blank" rel="noopener noreferrer">
                                                            <div class="icon-box-img" style="width: 40px">
                                                                <div class="icon">
                                                                    <div class="icon-inner">
                                                                        <img width="51" height="52"
                                                                            src="https://tanthanhdanh.vn/wp-content/uploads/2019/07/icon3.png"
                                                                            class="attachment-medium size-medium"
                                                                            alt=""> </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="icon-box-text last-reset"><a class="plain"
                                                                href="https://goo.gl/maps/xrek3MUg7XsCfkka8"
                                                                target="_blank" rel="noopener noreferrer">


                                                            </a>
                                                            <h4><a class="plain"
                                                                    href="https://goo.gl/maps/xrek3MUg7XsCfkka8"
                                                                    target="_blank" rel="noopener noreferrer"></a><a
                                                                    href="https://goo.gl/maps/xrek3MUg7XsCfkka8"
                                                                    target="_blank" rel="noopener noreferrer">Địa
                                                                    chỉ</a></h4>
                                                            <p><a href="https://goo.gl/maps/xrek3MUg7XsCfkka8"
                                                                    target="_blank" rel="noopener noreferrer">69 Đường
                                                                    man Thiện, Phường Hiệp Phú, Quận 9, TP.HCM</a>
                                                            </p>

                                                        </div>
                                                    </div>



                                                </div>
                                            </div>



                                            <div class="col small-12 large-12">
                                                <div class="col-inner">



                                                    <div class="searchform-wrapper ux-search-box relative is-normal">
                                                        <form role="search" method="get" class="searchform"
                                                            action="https://tanthanhdanh.vn/">
                                                            <div class="flex-row relative">
                                                                <div class="flex-col flex-grow">
                                                                    <input type="search" class="search-field mb-0"
                                                                        name="s" value=""
                                                                        placeholder="Nhập tên hoặc mã sản phẩm"
                                                                        autocomplete="off">
                                                                    <input type="hidden" name="post_type"
                                                                        value="product">
                                                                </div><!-- .flex-col -->
                                                                <div class="flex-col">
                                                                    <button type="submit"
                                                                        class="ux-search-submit submit-button secondary button icon mb-0">
                                                                        <i class="icon-search"></i> </button>
                                                                </div><!-- .flex-col -->
                                                            </div><!-- .flex-row -->
                                                            <div class="live-search-results text-left z-top">
                                                                <div class="autocomplete-suggestions"
                                                                    style="position: absolute; display: none; max-height: 300px; z-index: 9999;">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>


                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Right Elements -->
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="header-nav header-nav-main nav nav-right  nav-uppercase">
                                <li class="cart-item has-icon has-dropdown">

                                    <a th:href="@{/showCart}" title="Giỏ hàng"
                                        class="header-cart-link is-small">



                                        <i class="icon-shopping-cart" data-icon-label="0">
                                        </i>
                                    </a>

                                    <ul class="nav-dropdown nav-dropdown-default">
                                        <li class="html widget_shopping_cart">
                                            <div class="widget_shopping_cart_content">

                                                <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong
                                                    giỏ hàng.</p>


                                            </div>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </header>

        <!--MAIN BODY-->
        <main id="main">
            <div class="container">
                <div class="row">
                    <!--MENU-->
                    <div class="col-md-2 menu">
                        <ul class="menu">
                            <li th:each="cate : ${danhmucsanpham}"><a th:text="${cate.tendanhmucsp}" th:href="@{'/category/'+${cate.iddanhmucsp}}"></a></li>
                        </ul>
                    </div>
                    <!--SLIDE IMAGE-->
                    <div class="col-md-10">
                        <!--Slide 1-->
                        <div>
                            <!-- <img src="https://tanthanhdanh.vn/wp-content/uploads/2020/07/TTD_Promotion_2007_ComboHuyDietThang7_WebBanner2000x500v2-1400x350.jpg"
                                alt=""> -->
                            <!--BOOTSTRAP CAROSEL-->
                            <div id="carouselExampleIndicators"
                                class="carousel slide wow animate__animated animate__rollIn" data-ride="carousel"
                                data-interval="3000" data-wow-duration="2s">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                     <div class="carousel-item active">
                                        <img class="d-block w-100"
                                            th:src="${hinhanhtrang.hinhslideshow1}"
                                            alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100"
                                            th:src="${hinhanhtrang.hinhslideshow2}"
                                            alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100"
                                            th:src="${hinhanhtrang.hinhslideshow3}"
                                            alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100"
                                            th:src="${hinhanhtrang.hinhslideshow4}"
                                            alt="Third slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <!--Slide 2-->
                        <div>
                            <div class="row">
                               <div class="col-md p-0">
                                    <img class="wow animate__animated animate__flipInY" data-wow-duration="2s"
                                        th:src="${hinhanhtrang.header1}"
                                        alt="">
                                </div>
                                <div class="col-md p-0">
                                    <img class="wow animate__animated animate__flipInY animate__jackInTheBox"
                                        data-wow-duration="2s"
                                        th:src="${hinhanhtrang.header2}"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--CHI TIET HANG START-->
            <div class="row">
                <div class="title-sp">
                    <h3 th:text=${sanpham.danhmucsp.tendanhmucsp}></h3>
                    <div class="duong-line-sp"></div>
                </div>
                <!--TONG DETAIL SAN PHAM-->
                <div class="row">
                    <div class="col-6">
                        <img th:src="${sanpham.anhchinh}"
                            alt="">
                    </div>
                    <div class="col-6">
                        <h1 th:text="${sanpham.tensp}">
                        </h1>
                        
                        
                        <!-- XƯ Lý Giá -->
                        <div th:if="${sanpham.giagoc} == 0">
                           <div class="product-price">
                            <span th:inline="text" class="amount">[[${#numbers.formatDecimal(sanpham.giasp, 0, 'POINT', 0, 'COMMA')}]] VNĐ</span>
                          </div>
                        </div>
                        <div th:if="${sanpham.giagoc} != 0">
                        <div class="product-price">
                            <span class="amount"><strike th:inline="text">[[${#numbers.formatDecimal(sanpham.giagoc, 0, 'POINT', 0, 'COMMA')}]] VNĐ</strike></span>
                        </div>
                           <div class="product-price">
                            <span th:inline="text" class="amount">[[${#numbers.formatDecimal(sanpham.giasp, 0, 'POINT', 0, 'COMMA')}]] VNĐ</span>
                        </div>
                        </div>
                        
                        <div class="product-short-description">
                            <ul>
                                <li style="word-wrap: break-word;"><strong th:text="${sanpham.motasp}"></strong></li>
                            </ul>
                        </div>
                        <form th:action="@{'/addCart/'+${sanpham.idsp}}" class="d-flex" method="post">
                            <div class="volume-quantity-product">
                                <select th:name="soluong" id="soluong">
                                    <option value="1">1</option>
                                	<option value="2">2</option>
                                    <option value="3">3</option>
    								<option value="4">4</option>
    								<option value="5">5</option>
    								<option value="6">6</option>
    								<option value="7">7</option>
    								<option value="8">8</option>
    								<option value="9">9</option>
    								<option value="10">10</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">Mua hàng</button>
                        </form>
                    </div>
                    <!--TAB DETAIL SAN PHAM -->
                    <div class="card mt-3 tab-card">
                        <div class="card-header tab-card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                        aria-controls="One" aria-selected="true">Hình Ảnh</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"
                                        aria-controls="Two" aria-selected="false">Chi Tiết Kỹ Thuật</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab"
                                        aria-controls="Three" aria-selected="false">Thông Tin Bảo Hành</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content" id="myTabContent">
                            <!--HINH ANH-->
                            <div class="tab-pane fade show active p-3" id="one" role="tabpanel"
                                aria-labelledby="one-tab">
                                <div class="d-inline-flex flex-column">
                                <th:block th:each="hsp : ${sanpham.hinhsanpham}">
                                    <img class="img_detail"
                                        th:src="${hsp.urlHinhsp}"
                                        alt="">
                                 </th:block>
                                </div>
                            </div>
                            <!--THONG TIN CHI TIET-->
                            <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">

                                <table class="table table-hover">
                                    <tbody>
                                    <th:block th:each="ctsp : ${sanpham.chitietkythuat}">
                                        <tr>
                                            <td><strong th:text="${ctsp.tenkt}"></strong></td>
                                            <td th:text="${ctsp.chitietkt}"></td>
                                        </tr>
                                     </th:block>
                                    </tbody>
                                </table>


                            </div>
                            <!--BAO HANH-->
                            <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                                <h3>Bảo hành 36 tháng</h3>
                            </div>

                        </div>
                    </div>
                    <!--CHI TIET HANG END-->
        </main>

        <!--FOOTER BODY-->
        <footer id="footer" class="footer-wrapper mt-5">
            <section class="section section-footer" id="section_1296877948">
                <div class="bg section-bg fill bg-fill bg-loaded bg-loaded">
                </div>
                <div class="section-content relative">
                    <div class="row" id="row-629889507">
                        <div class="col medium-4 small-12 large-4">
                            <div class="col-inner">
                                <h4 class="title-footer">Địa Chỉ Showroom:</h4>
                                <h5 class="title-footer"><a href="https://goo.gl/maps/ZVUkKLjNF6jTzCr88" target="_blank"
                                        rel="noopener noreferrer">69 Đường man Thiện,</a></h5>
                                <h5 class="title-footer"><a href="https://goo.gl/maps/ZVUkKLjNF6jTzCr88" target="_blank"
                                        rel="noopener noreferrer">Phường Hiệp Phú, Quận 9, TP.HCM</a></h5>
                                <h4 class="title-footer">Liên hệ:</h4>
                                <p><strong>Hotline: <span style="color: #ed1c24;">0941 852 721</span></strong></p>
                                <p><strong>Bảo hành: 0941 852 721 - Nhánh 1</strong></p>
                                <p><strong>https://www.facebook.com/tuan.hoanganh.9828456</strong></p>
                                <p><a href="#"><img class="wp-image-30561"
                                            src="https://tanthanhdanh.vn/wp-content/uploads/2020/07/logoSaleNotitanthanhdanh.jpg"
                                            alt="" width="178" height="67"></a></p>
                            </div>
                        </div>
                        <div class="col medium-4 small-12 large-4">
                            <div class="col-inner">
                                <h4 class="title-footer">CHÍNH SÁCH TUẤN HOÀNG ANH</h4>
                                <p style="text-align: left;"><a href="#" target="_blank" rel="noopener noreferrer">Chính
                                        Sách Bảo Hành</a></p>
                                <p style="text-align: left;"><a href="#" target="_blank" rel="noopener noreferrer">Chính
                                        Sách Vận Chuyển</a></p>
                                <p style="text-align: left;"><a href="#" target="_blank" rel="noopener noreferrer">Bảo
                                        Mật Thông Tin</a></p>
                                <p style="text-align: left;"><a href="#" target="_blank" rel="noopener noreferrer">Hướng
                                        Dẫn Thanh Toán</a></p>
                                <p style="text-align: left;"><a href="#" target="_blank" rel="noopener noreferrer">Hướng
                                        Dẫn Trả Góp</a></p>
                            </div>
                        </div>
                        <div class="col medium-4 small-12 large-4">
                            <div class="col-inner">
                                <h4 class="title-footer">Bản đồ Showroom Quận 9</h4>
                                <p><iframe loading="lazy" style="border: 0;"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62702.43964592867!2d106.70857205508983!3d10.818774776878255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752772b245dff1%3A0xb838977f3d419d!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCBWaeG7hW4gdGjDtG5nIEPGoSBT4bufIFThuqFpIFRQLiBI4buTIENow60gTWluaMK3!5e0!3m2!1svi!2s!4v1595696042475!5m2!1svi!2s"
                                        width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen"
                                        data-rocket-lazyload="fitvidscompatible" class="lazyloaded"
                                        data-ll-status="loaded"></iframe><noscript><iframe style="border: 0;"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62702.43964592867!2d106.70857205508983!3d10.818774776878255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752772b245dff1%3A0xb838977f3d419d!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCBWaeG7hW4gdGjDtG5nIEPGoSBT4bufIFThuqFpIFRQLiBI4buTIENow60gTWluaMK3!5e0!3m2!1svi!2s!4v1595696042475!5m2!1svi!2s"
                                            width="100%" height="300" frameborder="0"
                                            allowfullscreen="allowfullscreen"></iframe></noscript></p>
                            </div>
                        </div>
                    </div>
                </div>
                <style scope="scope">
                    #section_1296877948 {
                        padding-top: 30px;
                        padding-bottom: 30px;
                    }
                </style>
            </section>
        </footer>
    </div>
</body>

</html>