<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Máy tính cao cấp, máy tính đồ họa, tuanhoanganh.vn
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/assets/css/material-dashboard.css?v=2.1.2}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          TUAN HOANG
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/duyetdonhang}">
              <i class="material-icons">dashboard</i>
              <p>Duyệt Đơn hàng</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/donhangdaduyet}">
              <i class="material-icons">content_paste</i>
              <p>Đơn hàng đã duyệt</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/huydonhang}">
              <i class="material-icons">library_books</i>
              <p>Đơn hàng đã hủy</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/danhsachnguoidung}">
              <i class="material-icons">person</i>
              <p>Người dùng</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/danhsachsanpham}">
              <i class="material-icons">bubble_chart</i>
              <p>Sản Phẩm</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/danhmucsanpham}">
              <i class="material-icons">location_ons</i>
              <p>Danh Mục</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/hangsanxuat}">
              <i class="material-icons">notifications</i>
              <p>Hãng Sản Xuất</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/thongke}">
              <i class="material-icons">language</i>
              <p>Thống Kê</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link">
              <p style="color:red;" th:text="${param.message}"></p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
    <!--MAIN-->
    <div class="container mt-5">
        <form th:action="@{'/admin/editsanpham/'+${idsp}}" th:object="${sanpham}" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Tên sản phẩm</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" th:field="*{tensp}">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Giá Sản phẩm</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" th:field="*{giasp}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Ảnh Chính</label>
                <input type="url" class="form-control" id="exampleInputPassword1" placeholder="" th:field="*{anhchinh}">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Hãng sản xuất</label>
                <select class="form-control" th:field="*{idhsx.idhsx}">
                    <option th:each="hsx:${hangsanxuat}" th:value="${hsx.idhsx}" th:text="${hsx.tenhsx}" value=""/>
                  </select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Danh mục sản phẩm</label>
                <select class="form-control" th:field="*{danhmucsp.iddanhmucsp}">
                    <option th:each="dmsp:${danhmucsp}" th:value="${dmsp.iddanhmucsp}" th:text="${dmsp.tendanhmucsp}" value=""/>
                  </select>
              </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mô tả sản phẩm</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{motasp}"></textarea>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <!--CHI TIET KI THUAT-->
          <div class="row">
            <div class="col-12">
                <form th:action="@{'/admin/addCtsp/'+${idsp}}" method="get">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Chi tiết</label>
                      <input th:name="chitiet" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                      <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Mô tả</label>
                      <input th:name="mota" type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Chi tiết</th>
                        <th scope="col">Mô tả</th>
                      </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="ct : ${ctkt}">
                      <tr>
                        <td th:text="${ct.tenkt}"></td>
                        <th th:text="${ct.chitietkt}"></th>
                        <td><a th:href="@{'/admin/deletectsp/'+${ct.idchitietkt}+'/'+${idsp}}" type="button" class="btn btn-danger">Delete</a></td>
                      </tr>
                      </th:block>
                    </tbody>
                  </table>
            </div>
        </div>
          <!--LIST IMAGE-->
          <div class="row">
            <div class="col-12">
                <form th:action="@{'/admin/addhinh/'+${idsp}}" method="get">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Url: </label>
                      <input th:name="urlhinh" type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                      <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <!--LIST IMAGE-->
        <div class="container-image mt-2"></div>
        <ul class="list-group">
        <th:block th:each="hinh : ${hinhsp}">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3">
                            <img class="card-img-top" th:src="${hinh.urlHinhsp}" alt="Card image cap">
                            <div class="card-body">
                            <a th:href="@{'/admin/deletehsp/'+${hinh.idhinhsp}+'/'+${idsp}}" type="button" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            </th:block>
        </ul>
    </div>
    <!--END MAIN-->
    </div>
  </div>
</body>

</html>